body {
  background-color: white;
}

h1 {
  color: #F44336;
  font-family: 'Exo', sans-serif;
  font-size: 72px;
  font-weight: 100;
  z-index: 11;
  margin-left: 10%;
}

p {
  text-align: center;
  font-family: 'Exo', sans-serif;
}



form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}

label {
  font-family: 'Exo', sans-serif;
  font-size: 32px;
  width: 30%;
  text-align: left;
  color: #F44336;
  position: relative;
}

input {
  width: 30%;
  height: 30px;
  margin: 20px 0 20px 0;
  font-size: 21px;
}

textarea {
  width: 30%;
  height: 50px;
  margin: 20px 0 20px 0;
  font-family: 'Exo', sans-serif;
  font-size: 32px;
}

#submit {
  font-size: 21px;
  font-family: 'Exo', sans-serif;
  background-color: #F44336;
  color: white;
  height: 50px;
}

input:focus {
 outline: none;
}

form span {
  color: red;
  width: 30%;
  text-align: right;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
