
body {
  margin: 0px;
  font-family: 'Heebo', sans-serif;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  position: absolute;
  top: 15px;
  left: 20px;
}


body {
  background-color: #212121;
}


body > * {
  opacity: 0;
  background-color: #fff;
  transition: 500ms;
}

body header {
  opacity: 1;
  transition: 0ms;
  background-color: #212121;

}

body footer {
  background-color: #212121;
}

nav a {
  text-decoration: none;
  margin-right: 40px;
  color: #fff;
  font-size: 15px;
  /* font-weight: bold; */
  text-transform: uppercase;
}

nav a:hover {
  color: #424242;
}

footer * {
  /* border: 1px solid red; */


  text-decoration: none;

}

footer {
  background: #212121;
  width: 100%;
  /* height: 200px; */
  height: auto;
  font-size: 15px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding-bottom: 10px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  padding: 50px 0 50px 0;
}

.footer-itm * {
  color: #bdbdbd;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

.footer-itm a:hover {
  color: #424242;
}

.footer-wrapper h3 {
  font-weight: normal;
  font-family: 'Heebo', sans-serif;
  color: #F44336;
  margin: 0;
  padding: 0;

}

.footer-itm{
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.logo-footer {
  margin-left: -100px;
  padding-left: 0;
}

 .copy {
  font-size: 12px;
  color: #424242;
  width: 100%;
  background: black;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 10px 0 10px 0;
}
