
body {
  margin: 0px;
  font-family: 'Heebo', sans-serif;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
}


body {
  background-color: #212121;
}


body > * {
  opacity: 0;
  background-color: #fff;
  transition: 500ms;
}

body header {
  opacity: 1;
  transition: 0ms;
  background-color: #212121;

}

body footer {
  background-color: #212121;
}

nav a {
  text-decoration: none;
  margin-right: 40px;
  color: #fff;
  font-size: 15px;
  /* font-weight: bold; */
  text-transform: uppercase;
}

nav a:hover {
  color: #424242;
}

footer {
  background: #212121;
  width: 100%;
  height: 200px;
  color: #bdbdbd;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
