
.apply-flex {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}

.bg {
  position: absolute;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  z-index: 1;
}

.left-side {
  width: 100%;
  height: 600px;
  background-image: url('../images/climbmax3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: .5s;
}

h1 {
 color: #212121;

 font-family: 'Exo', sans-serif;
 font-size: 72px;
 font-weight: 100;
 z-index: 2;
 padding-bottom: 0;
 margin-bottom: 0;
}

h2 {
 color: #212121;
 font-family: 'Exo', sans-serif;
 font-size: 21px;
 font-weight: 100;
 z-index: 2;
}

.right-side {
  position: absolute;
  right: -30%;
  vertical-align: middle;
  width: 380px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255,255,255,1);
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: 0 0 20px #212121;
  transition: .5s;
}

.wrapper {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.details {
  width: 70%;
  font-family: 'Exo', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  /* text-shadow: 0 0 10px #424242; */
  /* font-weight: bold; */
  text-align: justify;
  color: #212121;
  margin-top: 0;
  padding-top: 0;
}

.button {
  padding: 25px 0;
  width: 50%;
  text-decoration: none;
  background-color: #F44336;
  border-radius: 10px;
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-size: 21px;
  font-weight: 100;
  color: #fff;
  /* margin-bottom: 100px; */
  transition: .2s;
}

.button:hover {
  /* padding: 27px 2px; */
  /* font-size: 27px; */
  background-color: #F4433699;
}

.button:active {
  /* padding: 27px 2px; */
  /* font-size: 27px; */
  background-color: #F4433680;
}

@media screen and (max-width: 860px) {
  .apply-flex {
    flex-direction: column;
  }

  .left-side {
    transition: 0s;
    width: 100%;
    height: 200px;
  }

  .right-side {
    transition: 0s;
    position: relative;
    right: 0;
    width: 100%;
    padding-bottom: 50px;
  }

}
